*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

body, html{
    background-color: black;
    color: aliceblue;

    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    text-align: center;
    
    padding: 10px;
    font-size: 30px;
}

img{
    border: 1px solid ;
    border-radius: 50%;
    width: 50%;
    transition: 0.9s ease;
    text-shadow: 0 0 30px darkviolet;
}

img:hover{
    background-color:darkviolet;
    transform: scale(1.2);
    background-image: ;
    
}